.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transparent {
    opacity: 0;
    border: none;
    box-shadow: none;
}

.active {
    background: var(--menu-background-hover-color);
}

.vue-loading {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--vue-loading-background-color);
}

.vue-loading > svg {
    width: 50px;
    height: 50px;
}
